<%= form_with(model: snapshot, local: true) do |form| %>
  <% if snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

      <ul>
      <% snapshot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :alpa2_code %>
    <%= form.text_field :alpa2_code %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :deaths %>
    <%= form.number_field :deaths %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
